.mail{
    flex:1;
    background-color: whitesmoke;
}
.mail__tools{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.mail__bodyHeader{
    display:flex;
    flex-direction: column;
    padding:20px 0 10px 0;
}

.mail__message > p{
    padding: 10px;
    margin-right: 20px;
    overflow-wrap: break-word;
}

